/* bg gradient */
body {
    background: rgb(190,118,255);
    background: linear-gradient(90deg, rgba(190,118,255,1) 0%, rgba(46,148,226,1) 100%);
}

/* no select for title text */
.no-select, .no-select:hover { user-select: none; cursor: default; }

/* my dynamic footer :) */
html, body { min-height: 100vh; }
.page-wrap {
    min-height: 93vh;
    display: block;
}
#footer { height: 7vh; }
.no-ul:hover, .no-ul:link, .no-ul:visited, .no-ul:hover, .no-ul:active {
    color: white;
    text-decoration: none;
}